  table {
      border: 1px solid black;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      

  }

  input[type="button"] {
      width: 100%;
      padding: 10px 15px;
      background-color: rgb(98, 102, 98);
      color: white;
      font-size: 24px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
  }
.in{
    position: relative;
    margin-left: 1750px;
    background-color: azure;
    color: black;
    font-weight: bold;
}

body{
    background-color: rgb(180, 140, 155);
}